<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/uikit.min.css"/>
    <link rel="stylesheet" href="static/uikit.css"/>
    <link rel="stylesheet" href="static/uikit-rtl.css"/>
    <link rel="stylesheet" href="static/uikit-rtl.min.css"/>
    <script src="static/uikit.min.js"></script>
    <script src="static/uikit.js"></script>
    <script src="static/uikit-icons.js"></script>
    <script src="static/uikit-icons.min.js"></script>
</head>
<body>
<br>
<div align="center">
    <hr>
    <h1>Simple calculations</h1>
</div>

<form method="post" class="uk-form-horizontal uk-margin-large">
    {% csrf_token %}
    <div class="uk-margin">
        <hr>
        <label class="uk-form-label" for="form-horizontal-text"></label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="text" name="equation"
                   placeholder="Input an arithmetic expression to calculate using Python-like syntax"
            uk-tooltip="Supports '/', '+', '-', '*', '**' '//', '%' operators">
        </div>
    </div>

    <div align="center">
        <p uk-margin>
            <label><input class="uk-radio" type="radio" name="round" value="yes" checked> Round </label>
            <label><input class="uk-radio" type="radio" name="round" value="no"> Don't Round </label><br>
            <button type="submit" class="uk-button uk-button-primary">Calculate</button><br>
        <hr>
    </div>

    <div class="uk-flex uk-flex-center">
        <div class="uk-card uk-card-default uk-card-body">{{equation_res}}</div><br>
        <hr>
    </div>

</form>

</body>
</html>
